<!-- Modal para editar cliente -->
<div class="modal fade mt-5" th:fragment="editarModal" id="editarClienteModal" tabindex="-1" aria-labelledby="editarClienteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarClienteModalLabel">Editar Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/clientes/editar}" method="post" id="editarClienteForm" onsubmit="return editarCliente(event);" novalidate>
          <input type="hidden" name="id" id="editarId">
          <div class="form-group">
            <label for="editarCodigo">Código</label>
            <input class="form-control mb-3" type="text" name="codCliente" id="editarCodigo">
          </div>
          <div class="form-group">
            <label for="editarNombre">Nombre</label>
            <input class="form-control mb-3" type="text" name="nomCliente" id="editarNombre">
          </div>
          <div class="form-group">
            <label for="editarDireccion">Dirección</label>
            <input class="form-control mb-3" type="text" name="dirCliente" id="editarDireccion">
          </div>
          <div class="form-group">
            <label for="editarTelefono">Teléfono</label>
            <input class="form-control mb-3" type="text" name="telCliente" id="editarTelefono" placeholder="987654321">
          </div>
          <div class="form-group">
            <label for="editarFechaIngreso">Fecha de Ingreso</label>
            <input class="form-control mb-2" type="text" name="fechaingCli" id="editarFechaIngreso" placeholder="AAAA-MM-DD">
          </div>
          <br>
          <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>