<footer th:fragment="footer" class="footer">
    <div class="container text-center d-flex flex-column flex-md-row justify-content-between align-items-center">
        <!-- Contacto -->
        <div class="contacto">
            <span><i class="bi bi-envelope"></i> i202318420@cibertec.edu.pe</span> |
            <span><i class="bi bi-telephone"></i> +51 946 299 003</span> |
            <span><i class="bi bi-geo-alt"></i> Lima, Perú</span>
        </div>

        <!-- Copyright -->
        <div class="copyright">
            &copy; <span th:text="${#dates.format(new java.util.Date(), 'yyyy')}"></span> Proyecto Cibertec. Todos los derechos reservados.
        </div>
    </div>
</footer>


