:root {
    --primary-color: #000000; /* Negro */
    --secondary-color: #fbfbfb; /* Blanco suave */
    --accent-color: #f8e1e7; /* Palo rosa */
    --text-color: #2c2c2c; /* Gris oscuro */
    --hover-color: #e0dcdc; /* Gris claro para hover */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

h1 {
    color: var(--highlight-color);
    text-shadow: 1px 1.5px 2.5px var(--primary-color);
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-brand, .nav-link {
    color: var(--secondary-color) !important;
}

.dropdown-menu {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.dropdown-item {
    color: var(--text-color) !important;
}

.dropdown-item:hover {
    background-color: var(--accent-color) !important;
    color: var(--primary-color) !important;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 0.3rem 0;
    margin-top: auto;
}

.btn-primary {
    background-color: lightskyblue;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #5ac3fd;
    color: var(--primary-color);
}

.btn-danger {
    background-color: #ff4d4d;
    border-color: #ff0000;
}

.btn-danger:hover {
    background-color: #cc0000;
    border-color: #990000;
}

table {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

table th, table td {
    text-align: center;
}