<!-- Modal -->
<div class="modal fade mt-5" th:fragment="registroModal" id="registrarAlquilerModal" tabindex="-1" aria-labelledby="registrarAlquilerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrarAlquilerModalLabel">Registrar Alquiler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/alquileres}" method="post" id="alquilerForm" onsubmit="return registrarAlquiler(event);" novalidate>
          <div class="form-group">
            <label for="codigo">Código</label>
            <input class="form-control mb-3" type="text" name="codAlquiler" id="codigo" readonly>
          </div>
          <div class="form-group">
            <label for="fechaPrest">Fecha de Préstamo</label>
            <input class="form-control mb-3" type="date" name="fechaPrest" id="fechaPrest" required>
          </div>
          <div class="form-group">
            <label for="fechaDev">Fecha de Devolución</label>
            <input class="form-control mb-3" type="date" name="fechaDev" id="fechaDev" required>
          </div>
          <div class="form-group">
            <label for="idEmpleado">Empleado</label>
            <select class="form-control mb-3" name="idEmpleado" id="idEmpleado">
                <option value="" selected><--- Seleccionar Empleado ---></option>
              <option th:each="empleado : ${empleados}" th:value="${empleado.id}" th:text="${empleado.nomEmpleado}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="idCliente">Cliente</label>
            <select class="form-control mb-3" name="idCliente" id="idCliente">
              <option value="" selected><--- Seleccionar Cliente ---></option>
              <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nomCliente}"></option>
            </select>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>