<!-- Modal para información de la película -->
<div class="modal fade mt-5" th:fragment="infoModal" id="infoPeliculaModal" tabindex="-1" aria-labelledby="infoPeliculaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoPeliculaModalLabel">Información de la Película</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="infoId"></span></p>
                <p><strong>Código:</strong> <span id="infoCodigo"></span></p>
                <p><strong>Nombre:</strong> <span id="infoNombre"></span></p>
                <p><strong>Género:</strong> <span id="infoGenero"></span></p>
                <p><strong>Duración:</strong> <span id="infoDuracion"></span></p>
                <p><strong>Año:</strong> <span id="infoAnio"></span></p>
                <p><strong>Copias:</strong> <span id="infoCopias"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>